@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700&display=swap');
*{
    
    box-sizing: border-box;
    font-weight: lighter;
    list-style-type: none;
    text-decoration-line: none;
}

a{
    color:black
}

input:focus
{
    outline: none;
}

body
{
    font-family: 'Roboto', sans-serif;
    background-color: snow;
    font-size: 1.2vw;

}

/* rules applied to the header */

.top
{
    text-align: center;
    margin-bottom: 3em;

}

.story 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

.story > div
{
    height: 15vh;
    width: 15vh;
    background: rgb(218,206,65);
    background: linear-gradient(59deg, rgba(218,206,65,1) 0%, rgba(228,7,116,1) 79%);
    border-radius: 100%;
    margin: auto 1em;
}

/* Main content section general rules */
.content{
    display: grid;
    grid-template-columns: 6fr 8fr 6fr;
    grid-gap: 4em;
}

.content > article > section
{
    height: 70vh;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0.3em;
    margin: 4em 0;
}

.left
{
    margin-left: 4em;
}

.right
{
    margin-right:4em;
}

/* profile content */
.profile-banner
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.profile-pic
{
    height:10vh;
    width:10vh;
    background: rgb(218,206,65);
    background: linear-gradient(59deg, rgba(218,206,65,1) 0%, rgba(228,7,116,1) 79%);
    border-radius: 100%;
    margin: 1em 1em;
}

.profile-name
{
    margin-top: 2.5em;
    overflow: hidden;;
    font-weight: bold;
    font-size: 1.1em;
}

.feedback
{
    margin: 0em 0em;
    padding: 0em 0em;
    text-align: left;
    font-size: 0.9em;
    border-bottom: 1px solid #e2e2e2;;
}

.feedback > li
{
    margin: 0em 0em;
    padding: 0em 2em;
    display: inline-block;
    text-align: right;
}

.lineup
{
    padding-left: 30rem;
}

.comments-section
{
    padding: 0 1em
}

.read
{
    color: #a3a3a3;
    font-weight: bold;
}

.comments-section > p > a
{
    font-weight: bold;
    font-size: 0.85em;
}

.add-comment
{
    border: none;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-size: 1em;
    padding-left: 1rem;
    margin: 0em 0em;;
    width: 100%;
    height: 3em;
}


.button-control
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: -0.6em;
}
.button-control > p
{
    justify-self: center;
    display: inline-block;
    height:10vh;
    width:10vh;
    border: 1px solid #e2e2e2;
    border-radius: 100%;
    margin: 0.5em 0.5em;
    margin-bottom: 0em;
}

.more
{
    letter-spacing: -8px;
    text-align: right;
    font-size: 5em;
    line-height: 0em;
    color:#a3a3a3;
    margin: 0em 0em;
    padding: 0em 1.35rem;
}



